<h1>  About Us </h1>

<p>This is a Friends List application.</p>
<p>Here user can create list to store the data of friends. Every user have its separate list. User can modify,update and delete the data according to requirements.</p>